@page
@using ksiegarnia_backend.Models
@model ksiegarnia_backend.Pages.Books.IndexModel
@{
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Book List
            </h2>
        </div>
        <div class="col text-end">
            <a asp-page="/books/create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add Book
            </a>
        </div>
    </div>
</div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Price
                </th>
                <th>
                    Availability
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.BookList)
            {
                <tr>
                    <td>
                        @obj.Title
                    </td>
                     <td>
                        @obj.Author.FirstName @obj.Author.LastName
                    </td>   
                    <td>
                    @obj.Price.ToString("C2")
                    </td>
                    <td>
                        @obj.Availability
                    </td>
                    <td>
                        <a asp-page="/books/edit" asp-route-id="@obj.BookId" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil"></i> Edit
                        </a>
                        <a asp-page="/books/delete" asp-route-id="@obj.BookId" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
